html,
body{
	margin: 0;
	/* height: 100%; */
}

:root{font-size: 10px;}


.wrap{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent url(bg.jpg) no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
	.bands{
		margin: 0;
		padding: 2rem 3rem 2rem 4rem;
		/* list-style-type: none; */
		background-color: rgba(255, 255, 255, 0.7);
	}
		.band{
			margin-bottom: 1rem;
			font-size: 2rem;
			font-family: 'Arial';
		}








